.grid-large{
  min-width:300px;
}

.grid-medium{
  min-width:200px;
}

.grid{
  overflow:scroll;
}

.grid-profile{
min-width:80px;
img{
  border-radius:1000px;
  width:100%;
  padding:10px;
}
}

.grid-container{
  @include outer-container;
  max-width:96%;
  background:rgb(216, 214, 214);
        @include breakpoint(small){
          }

}

.grid-filters{
  @include span-columns(2);
 ;
  @include pad(1em);
     @include breakpoint(medium){
         @include span-columns(3);
      }   
      @include breakpoint(small){
         @include span-columns(12);
      }

}
.grid-body{
  @include span-columns(10);
;
  background:white;
      @include breakpoint(medium){
         @include span-columns(9);
      }   
@include breakpoint(small){
         @include span-columns(12);
      }
  
}

.dashboard-menu{
  @include fill-parent;
  height:74px;
  background:rgb(148, 148, 148);
  button{
    margin:0;
    margin:10px;
    float:right;
  }
}

table{
  text-align:center;
}
