.dubstarts-hero{
  @include pad(0 5%);
  background:-webkit-linear-gradient(rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.99)), url("images/background.jpg"), center no-repeat;
  background-size:cover;
  text-transform: uppercase;
  color:white;
  img{
    max-width:300px;
  }
  h1{
    font-size:6em;
    line-height:1em;
    @include breakpoint(medium){
      font-size:4em;
    }
    @include breakpoint(small){
      font-size:3em;
    }
  }
  h2{
    max-width:750px;
    font-size:2em;
    @include breakpoint(medium){
      font-size:1.2em;
    }
    @include breakpoint(small){
      font-size:1em;
    }
  }
  h3{
  font-size:1em;
  line-height:5em;

  }
}

.landing-signup{
  display:block;
  p{
  display:inline-block;
  }
}

.sign-in{
  @include pad(2% 0);
  a{
  float:right;}

}
