.jobs-list-container{
  section{
  padding:2% 0; 
}
  .l-form{
    .btn-mini{
      margin:0 auto;
      display:block;
    }
    label{
      margin-bottom:10px;
      text-align:center;      
    }

    select{
      margin:23px auto;
    }
    padding:0;
  }
  width:100%;
  ul{
    padding:0;
    margin:0;
  }
  a{
  color: #5f6a7d;
  }
}
.panel{
  background:whitesmoke;
}
.dubstarts-hero-background{
  @include pad(0 5%);
  background:-webkit-linear-gradient(rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.99)), url("images/background.jpg"), center no-repeat;
  background-size:cover;
  height:500px;
}
.jobs-index-section{
  margin-top:-400px;
    text-align:center;
  img{
    max-width:75px;
    display:block;
    margin: 0 auto;
  } 
  header{
    
  h1{
    font-weight:100;
    padding:1em;
  }
}
 h3{
    font-weight:200;
  }
  p{
    margin:0;
  }

  .skills-tags{
    p{
    font-size:0.75em;
    display:inline-block;
  }
  }

}

.jobs-aside{
  @include span-columns(3);
}

.jobs-content{
  @include span-columns(9);
  text-align:left;
  border-bottom:none !important;
}

.companies-content{
  @include fill-parent;
  text-align:left;
  border-bottom:none !important;
  
}

.l-list-item-image{
  @include span-columns(2);
}

.l-list-item-content{
  @include span-columns(10);
}

.l-list-item-container{
  @include outer-container;

}
.jobs-list-container section{
  margin-bottom:0;
}
a:nth-child(even) .l-list-item-container{
  background:rgba(250, 249, 249, 0.1);
}

.tac{
  text-align:center;
}
